# WiFi
CONFIG_ESP_WIFI_ENABLED=y

# lwIP - enable multicast
CONFIG_LWIP_IGMP=y
CONFIG_LWIP_SO_RCVBUF=y
CONFIG_LWIP_NETIF_LOOPBACK=y

# I2S
CONFIG_SOC_I2S_SUPPORTED=y

# Timer (microsecond)
CONFIG_ESP_TIMER_TASK_STACK_SIZE=4096

# Larger stack for main task
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=4096
